  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Tabicoとは</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ms-auto"><p class="lead">Tabicoとは旅人のコミュニティーサイトの略です。普段なかなか出会うことが難しい旅人同士を繋ぐ架け橋になります。情報共有などをして、有意義な旅を送ることができるようにとの思いを込めてTabicoを作成しました。</p></div>
          <div class="col-lg-4 me-auto"><p class="lead">こちらのサイトをきっかけに旅に一緒に行く仲間を募ったり、現地に住んでいる人との繋がりが持てればいいなと思います。ぜひTabicoを使って新しい旅に出かけよう。</p></div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <!-- Footer Location-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">住所</h4>
                  <p class="lead mb-0">
                      大阪府大阪市中央区
                      <br />
                      大阪城１−１
                  </p>
              </div>
              <!-- Footer Social Icons-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
              </div>
              <div class="col-lg-4">
                <img alt="logo" src="/assets/logo.png" />
              </div>
          </div>
      </div>
  </footer>
</body>
